<% include ../includes/header.ejs %>

  <!-- Your 'includes' folder route may be different-->
  <!-- This conditional can also be done in the header instead of ta05.ejs in order to 
     make the "theme" universal to all pages.
-->
   
            </head>

            <body>
              <% include ../includes/nav.ejs %>
                <div class="jumbotron text-center">
                  <div class="container">
                    <h1>
                      <%= title %>
                    </h1>
                  </div>
                </div>
                
            </body>

            </html>

