<header class="main-header">
  <nav class="main-header__nav">
      <ul class="main-header__item-list">
          <li class="main-header__title">EQ Service Finder</li>
          <li class="main-header__item"><a class="<%= path === '/' ? 'active' : ''%>" href="/">Home</a></li>
          <li class="main-header__item"><a class="<%= path === '/admin/serve' ? 'active' : ''%>" href="/admin/serve">Serve</a></li>
          <li class="main-header__item"><a class="<%= path === '/admin/talents' ? 'active' : ''%>" href="/admin/talents">Talents</a></li>
      </ul>
  </nav>
</header>